.card-create-profile{
  margin-bottom: 30px;
}

.create-profile-form{
  width:50%;
  background-color: #ECEFF1 !important;
  box-shadow: 0px 10px 20px 15px rgba(0,0,0,0.30) !important;
}

.hideMessage{
  display: none !important;
}

@media (max-width: 540px){
  .create-profile-form{
    width:95%;
  }
}
